SistemaBodegaG1/Connected Services/BodegasWS/BodegaBCService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/bodegaCPWSSOAP.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/bodegaCPWSSOAP.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="Bodega">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdBodega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUserB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitud" type="xs:double" />
      <xs:element minOccurs="0" name="Longitud" type="xs:double" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bodega" nillable="true" type="tns:Bodega" />
  <xs:complexType name="ArrayOfBodega">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bodega" nillable="true" type="tns:Bodega" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBodega" nillable="true" type="tns:ArrayOfBodega" />
</xs:schema>